# Compiled files
*.class
*.o
*.pyc
*.exe

# Dependency directories
node_modules/
venv/
.env/

# System files
.DS_Store
Thumbs.db

# Logs and debug
*.log
*.out

# IDE/project settings
.vscode/
.idea/
*.swp

# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.egg-info/
venv/
.env

# Project specific
archive_dump
training_venv
models
src/embedding_caches
tests/data
data
data_raw
src/DisCoBERT/dummy_weights
*_model
results/
checkpoints/checkpoint_20250501_192122.json
checkpoints/checkpoint_20250501_191513.json
checkpoints/checkpoint_20250501_191555.json
checkpoints/checkpoint_20250501_191637.json
checkpoints/checkpoint_20250501_191638.json
/checkpoints
/theoretical_evaluation/checkpoints
checkpoints/latest_checkpoint.txt
preorder_output.txt
*.tokens
dump.txt