# Compiled files
*.class
*.o
*.pyc
*.exe

# Dependency directories
node_modules/
venv/
.env/

# System files
.DS_Store
Thumbs.db

# Logs and debug
*.log
*.out

# IDE/project settings
.vscode/
.idea/
*.swp

# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.egg-info/
venv/
.env

# Project specific
archive_dump
training_venv
models
src/embedding_caches
tests/data
data
data_raw
src/discocirc/dummy_weights
*_model